<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Countries, States and Cities</h1>
    <!-- Countries Table -->
    <table>
        <tr>
            <th></th>
            <th>S/n</th>
            <th>Country</th>
            <th>Capital</th>
            <th>Flag</th>
            <th>Currency</th>
        </tr>
        {% for country in data %}
            <tr>
                <td> <button onclick="expand({{ country[0] }}, this)">➕</button> </td>
                <td>{{ loop.index }}</td>
                <td>{{ country[1] +'    '+country[3] }}</td>
                <td>{{ country[10] }}</td>
                <td>{{ country[16] }}</td>
                <td>{{ country[6] +' '+ country[8] }}</td>
            </tr>
            <!-- Nested collapsable tables for states -->

        {% endfor %}
    </table>
    <script>
            function expand(country_id, button){
            console.log(country_id);
            // ajax call to get states for a country
            $.ajax({
                data:{
                    'country_id': country_id
                },
                type:'POST',
                url:'/get_states',
            })
            .done(function(data){
                var data = data['states'];
                // create a collapsable table for states
                var table = '<table class="collapsable">';
                table += '<tr>';
                table += '<th></th>';
                table += '<th>S/n</th>';
                table += '<th>State</th>';
                table += '</tr>';
                console.log(data.length);
                for(var i = 0; i < data.length; i++){
                    table += '<tr>';
                    table += '<td> <button onclick="expand_state('+data[i][0]+', this)">➕</button> </td>';
                    table += '<td>'+ (i+1) +'</td>';
                    table += '<td>'+ data[i][2] +'</td>';
                    table += '</tr>';
                }
                table += '</table>';
                table = '<tr>' + table + '</tr>';
                // append the table to the main table
                $(button).parent().parent().after(table);

            });
            // prevent multiple clicks
        }
    </script>
    <script>
        function expand_state(country_id, button){
            console.log(country_id);
            // ajax call to get states for a country
            $.ajax({
                data:{
                    'state_id': country_id
                },
                type:'POST',
                url:'/get_cities',
            })
            .done(function(data){
                data = data['cities'];
                // create a collapsable table for states
                var table = '<table class="collapsable">';
                table += '<tr>';
                table += '<th>S/n</th>';
                table += '<th>City</th>';
                table += '</tr>';
                console.log(data.length);
                for(var i = 0; i < data.length; i++){
                    table += '<tr>';
                    table += '<td>'+ (i+1) +'</td>';
                    table += '<td>'+ data[i][1] +'</td>';
                    table += '</tr>';
                }
                table += '</table>';
                table = '<tr>' + table + '</tr>';
                // append the table to the main table
                $(button).parent().parent().after(table);

            });
            // prevent multiple clicks
        }
    </script>
</body>
</html>